@use "./variables.scss" as *;
@use "./mixins.scss" as *;

html, body{
    height:100%;
    display:flex;
    margin:0;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    font-size:18px;
}

#root{
    display:flex;
    flex-direction: column;
    width: 100vw;
    flex:1;
}

.button-group{
    @include common-border($secondary-color);
    @include flex-row;
    padding: 0px;
    width: fit-content;
    height: fit-content;
    button{
        @include common-padding;
        text-align: center;
        border: none;
        background: transparent;
        cursor: pointer;
        display: flex;
        justify-content: center;  
        align-items: center;
        &:not(:last-child){
            border-right: 1px solid $secondary-color; 
        }
    }
}