@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.text-box{
    font-size: 16px;
    // color: $light-gray-800;
    background-color: white;
    border: 1px solid $light-gray-200;
    padding: 10px;
    border-radius: 10px;
    width: 100% !important;
    box-sizing: border-box;
    // margin-bottom: 20px;
    &.tag{
        margin:10px;
    }
    &:focus{
        outline: none;
        border-color: $primary-color-200;
    }
}

.add-btn{
    background-color:$primary-color-200;
    padding:8px 15px;
    color:white;
    border:none;
    border-radius: 10px;
    font-weight: bold;
}

.edit-recipe-label{
    font-weight:500;
}

.tag-edits{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
}